<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description"
    content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl | prepend: site.url}}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="shortcut icon" type="image/x-icon" href="{{ site.url }}{{ site.baseurl }}/assets/images/favicon.ico">


  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">
  <link rel="stylesheet" href="{{ site.url }}{{site.baseurl}}/assets/fonts/font-awesome/css/font-awesome.min.css">
  
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
        inlineMath: [['$','$']]
      }
    });
  </script>
  <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
  </script>

  <script>
    function ShowOrHide(select = 'inpress') {
      var sections = ['inpress', 'byyear', 'bytype', 'bybook', 'bypatent', 'bygroup'];
      // Toggle sections: show the selected one, hide others (only if they exist)
      sections.forEach(function (id) {
        var el = document.getElementById(id);
        if (el) {
          el.style.display = (id === select) ? 'block' : 'none';
        }
      });

      // Toggle buttons' disabled state if buttons exist
      var buttonIds = ['btn_inpress', 'btn_byyear', 'btn_bytype', 'btn_bybook', 'btn_bypatent', 'btn_bygroup'];
      buttonIds.forEach(function (bid) {
        var btn = document.getElementById(bid);
        if (btn) {
          // button id is expected as 'btn_' + section id
          var target = bid.replace('btn_', '');
          btn.disabled = (target === select);
        }
      });
    }
  </script>



<script type="text/javascript">
  (function(c,l,a,r,i,t,y){
      c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
      t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
      y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
  })(window, document, "clarity", "script", "l0fyrfksvt");
</script>




  <!-- google search --> 
  <meta name="google-site-verification" content="zA-pyWCSMDUz2guOFMd9WzdV7NSk1GTXBbDOrCN9FN4" />

</head>