<div class="news-block">
<h3>News</h3>
<hr>
{% assign items = site.data.news | sort: 'date' | reverse %}
{% for article in items limit: 10 %}


<div class="news-item" style="margin-bottom: 0px; overflow: auto;">
    <div style=" margin-bottom: 0px;">
    {{ article.date }}
    <br>
    <a href="{{ site.baseurl }}/allnews.html#news-{{ article.date | append: '-' | append: article.headline | slugify }}">{{ article.headline }}</a>
    </div>
</div>
<hr>
{% endfor %}
<div style="text-align:right; margin-top: 8px;">
<a href="{{ site.baseurl }}/allnews.html">See all news →</a>
</div>
</div>


